<h1>School Class Form</h1>
<%= form_for(@student_class) do |f| %>
  <label>School Class Title:</label><br>
  <%= f.text_field :title %><br>

  <label>School Class Room Number:</label><br>
  <%= f.text_field :room_number %><br>

  <%= submit_tag "Create School class" %>
<% end %>